{% if data['lawCategory'] == "Family" or data['lawCategory'] == "All" %}
<---FAM --->
<div class="govuk-form-group">
  <label class="govuk-label govuk-label--s" for="caseLevels">
    Case stage or level
  </label>
  <select class="govuk-select" id="caseLevels" name="caseLevels">
    <option selected=""></option>
    <option value="FPC01">FPC01-Initial Advice</option>
    <option value="FPC02">FPC02-Negotiation</option>
    <option value="FPC03">FPC03-Initial Advice, Negotiation</option>
    <option value="FPL01">FPL01-Priv</option>
    <option value="FPL02">FPL02-Priv, Child Sttld</option>
    <option value="FPL03">FPL03-Priv, Fin Sttld</option>
    <option value="FPL04">FPL04-Priv, Child n/Sttld</option>
    <option value="FPL05">FPL05-Priv, Fin n/Sttld</option>
    <option value="FPL06">FPL06-Priv, Child Sttld, Fin Sttld</option>
    <option value="FPL07">FPL07-Priv, Child Sttld, Fin n/Sttld</option>
    <option value="FPL08">FPL08-Priv, Child n/Sttld, Fin Sttld</option>
    <option value="FPL09">FPL09-Priv, Child n/Sttld, Fin n/Sttld</option>
    <option value="FPL10">FPL10-Div</option>
    <option value="FPL11">FPL11-Child Sttld</option>
    <option value="FPL12">FPL12-Fin Sttld</option>
    <option value="FPL13">FPL13-Child n/Sttld</option>
    <option value="FPL14">FPL14-Fin n/Sttld</option>
    <option value="FPL15">FPL15-Child Sttld, Fin Sttld</option>
    <option value="FPL16">FPL16-Child Sttld, Fin n/Sttld</option>
    <option value="FPL17">FPL17-Child n/Sttld, Fin Sttld</option>
    <option value="FPL18">FPL18-Child n/Sttld, Fin n/Sttld</option>
    <option value="FPL19">FPL19-Mediation</option>
    <option value="FPL20">FPL20-Mediation 2</option>
    <option value="FPL21">FPL21-Mediation 3</option>
  </select>
</div>
<---FAM --->
 <div class="govuk-form-group">
  <label class="govuk-label govuk-label--s" for="stageReached">
    Claim stage reached
  </label>
  <select class="govuk-select" id="stageReached" name="stageReached">
    <option></option>
    <option value="FA">FA-First meeting</option>
    <option value="FB">FB-Further Work</option>
    <option value="FC">FC-Negotiation with Local Authority in care p</option>
    <option value="FD">FD-Divorce proceedings - Petitioner only</option>
    <option value="FE">FE-Fee Stage 3a</option>
    <option value="FF">FF-Fee stage 3b</option>
    <option value="FG">FG-Fee stage 3c</option>
  </select>
</div>
{% endif %}

{% if data['lawCategory'] == "Immigration and Asylum" or data['lawCategory'] == "All" %}
<---IMM --->
 <div class="govuk-form-group">
  <label class="govuk-label govuk-label--s" for="stageReached">
    Claim stage reached
  </label>
  <select class="govuk-select" id="stageReached" name="stageReached">
    <option></option>
    <option value="IE">IE-LH completed, CLR not applied For (LH)</option>
    <option value="IF">IF-LH completed, CLR refused (LH)</option>
    <option value="IG">IG-Not Determined by the AIT (CLR)</option>
    <option value="IH">IH-Determined After a Substantive AIT Appeal </option>
    <option value="IK">IK-Final Determination Following an Applicati</option>
    <option value="IM">IM-LH completed, CLR continuing  - (LH)</option>
    <option value="IO">IO-Initial AIT Substantive Decision/Unsuccess</option>
    <option value="IQ">IQ-CLR completed, LH continuing - (CLR)</option>
    <option value="IR">IR-Initial Home Office Substantive Decision/S</option>
    <option value="IS">IS-LH completed, CLR Already Completed (LH)</option>
    <option value="IT">IT-Standby Payment</option>
  </select>
</div>
{% endif %}