{% if data['lawCategory'] == "Family" or data['lawCategory'] == "All" %}
<!---FAM --->
<div class="govuk-form-group">
  <label class="govuk-label govuk-label--s" for="caseLevels">
    Case stage or level
  </label>
  <select class="govuk-select" id="caseLevels" name="caseLevels">
    <option selected=""></option>
    <option value="FPC01-Initial Advice">FPC01 - Initial Advice</option>
    <option value="FPC02 - Negotiation">FPC02 - Negotiation</option>
    <option value="FPC03 - Initial Advice, Negotiation">FPC03 - Initial Advice, Negotiation</option>
    <option value="FPL01 - Priv">FPL01 - Priv</option>
    <option value="FPL02 - Priv, Child Sttld">FPL02 - Priv, Child Sttld</option>
    <option value="PL03 - Priv, Fin Sttld">FPL03 - Priv, Fin Sttld</option>
    <option value="FPL04 - Priv, Child n/Sttld">FPL04 - Priv, Child n/Sttld</option>
    <option value="FPL05 - Priv, Fin n/Sttld">FPL05 - Priv, Fin n/Sttld</option>
    <option value="FPL06 - Priv, Child Sttld, Fin Sttld">FPL06 - Priv, Child Sttld, Fin Sttld</option>
    <option value="FPL07 - Priv, Child Sttld, Fin n/Sttld">FPL07 - Priv, Child Sttld, Fin n/Sttld</option>
    <option value="FPL08 - Priv, Child n/Sttld, Fin Sttld">FPL08 - Priv, Child n/Sttld, Fin Sttld</option>
    <option value="FPL09 - Priv, Child n/Sttld, Fin n/Sttld">FPL09 - Priv, Child n/Sttld, Fin n/Sttld</option>
    <option value="FPL10 - Div">FPL10 - Div</option>
    <option value="FPL11 - Child Sttld">FPL11 - Child Sttld</option>
    <option value="FPL12 - Fin Sttld">FPL12 - Fin Sttld</option>
    <option value="FPL13 - Child n/Sttld">FPL13 - Child n/Sttld</option>
    <option value="FPL14 - Fin n/Sttld">FPL14 - Fin n/Sttld</option>
    <option value="FPL15 - Child Sttld, Fin Sttld">FPL15 - Child Sttld, Fin Sttld</option>
    <option value="FPL16 - Child Sttld, Fin n/Sttld">FPL16 - Child Sttld, Fin n/Sttld</option>
    <option value="FPL17 - Child n/Sttld, Fin Sttld">FPL17 - Child n/Sttld, Fin Sttld</option>
    <option value="FPL18 - Child n/Sttld, Fin n/Sttld">FPL18 - Child n/Sttld, Fin n/Sttld</option>
    <option value="FPL19 - Mediation">FPL19 - Mediation</option>
    <option value="FPL20 - Mediation 2">FPL20 - Mediation 2</option>
    <option value="FPFPL21 - Mediation 3L21">FPL21 - Mediation 3</option>
  </select>
</div>
<!---FAM --->
 <div class="govuk-form-group">
  <label class="govuk-label govuk-label--s" for="stageReachedFam">
    Claim stage reached
  </label>
  <select class="govuk-select" id="stageReachedFam" name="stageReachedFam">
    <option></option>
    <option value="FB - Further WorkA-First meeting">FA - First meeting</option>
    <option value="FB - Further Work">FB - Further Work</option>
    <option value="FC - Negotiation with Local Authority in care">FC - Negotiation with Local Authority in care</option>
    <option value="FD - Divorce proceedings - Petitioner only">FD - Divorce proceedings - Petitioner only</option>
    <option value="FE - Fee Stage 3a">FE - Fee Stage 3a</option>
    <option value="FF - Fee stage 3b">FF - Fee stage 3b</option>
    <option value="FG - Fee stage 3c">FG - Fee stage 3c</option>
  </select>
</div>
{% endif %}

{% if data['lawCategory'] == "Immigration and Asylum" or data['lawCategory'] == "All" %}
<!---IMM --->
 <div class="govuk-form-group">
  <label class="govuk-label govuk-label--s" for="stageReachedIMM">
    Claim stage reached
  </label>
  <select class="govuk-select" id="stageReachedIMM" name="stageReachedIMM">
    <option></option>
    <option value="IE - LH completed, CLR not applied For (LH)">IE - LH completed, CLR not applied For (LH)</option>
    <option value="IF - LH completed, CLR refused (LH)">IF - LH completed, CLR refused (LH)</option>
    <option value="IG - Not Determined by the AIT (CLR)">IG - Not Determined by the AIT (CLR)</option>
    <option value="IH - Determined After a Substantive AIT Appeal">IH - Determined After a Substantive AIT Appeal </option>
    <option value="IK - Final Determination Following an Application">IK - Final Determination Following an Application</option>
    <option value="IM - LH completed, CLR continuing  - (LH)">IM - LH completed, CLR continuing  - (LH)</option>
    <option value="IO - Initial AIT Substantive Decision/Unsuccess">IO - Initial AIT Substantive Decision/Unsuccess</option>
    <option value="(CLR)">IQ - CLR completed, LH continuing - (CLR)</option>
    <option value="IR - Initial Home Office Substantive Decision/S">IR - Initial Home Office Substantive Decision/S</option>
    <option value="IS - LH completed, CLR Already Completed (LH)">IS - LH completed, CLR Already Completed (LH)</option>
    <option value="IT - Standby Payment">IT - Standby Payment</option>
  </select>
</div>
{% endif %}