{% extends "layouts/main.html" %}
{% set version = "v2" %}
{% set activePrimeNav = [true, false, false, false] %}


{% block header %}
  {% include version + "/includes/header-provider.html"%}{% endblock %}

{% block pageTitle %}
  Client details – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/banner.html"%}
  
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">Case details</h1>
    
    <form class="form" action="task-list?question-case=complete" method="post">

      {% if data['lawCategory'] == "Family" or data['lawCategory'] == "All" %}
        <!---FAM--->
        {{ mojDatePicker({
          id: "caseEnd",
          name: "caseEnd",
          value: data['caseEnd'],
          label: {
            text: "Date case concluded",
            classes: "govuk-label--s"
          },
          hint: {
            text: "For example, 17/5/2024."
          }
        }) }}
      {% endif %}

      {% if data['lawCategory'] == "Immigration and Asylum" or data['lawCategory'] == "All" %}
      
        {% if data['claimTypeImmigration'] == "Stage claim" or data['claimTypeImmigration'] == "Stage disbursement claim" or data['lawCategory'] == "All"  %}
          <!---IMM - Stage or Disbursement--->
          {{ mojDatePicker({
            id: "caseClaimed",
            name: "caseClaimed",
            value: data['caseClaimed'],
            label: {
              text: "Case claimed date",
              classes: "govuk-label--s"
            },
            hint: {
              text: "For example, 17/5/2024."
            }
          }) }}
        {% endif %}

        {% if data['claimTypeImmigration'] == "Completed matter claim" or data['lawCategory'] == "All" %}
          <!---IMM - Completed--->
          {{ mojDatePicker({
            id: "caseEnd",
            name: "caseEnd",
            value: data['caseEnd'],
            label: {
              text: "Date case concluded",
              classes: "govuk-label--s"
            },
            hint: {
              text: "For example, 17/5/2024."
            }
          }) }}
        {% endif %} 
      {% endif %}


      {% include "/includes/list-stage.njk" %}

      {% include "/includes/list-outcome.njk" %}

      {% if data['lawCategory'] == "Immigration and Asylum" or data['lawCategory'] == "All" %}
      
        {% if data['claimTypeImmigration'] == "Completed matter claim" or data['claimTypeImmigration'] == "Stage claim" or data['lawCategory'] == "All" %}
          <!---IMM - Completed or Stage not Disbursement--->
          {{ govukRadios({
            name: "legacyFee",
            fieldset: {
              legend: {
                text: "Is this a Home Office legacy case?",
                classes: "govuk-fieldset__legend--s",
                isPageHeading: false            
                }
            },
            items: [
              {
                value: "Yes",
                text: "Yes",
                checked: checked("legacyFee", "Yes")
              },
              {
                value: "No",
                text: "No",
                checked: checked("legacyFee", "No")
              }
            ]
          }) }}

          <!---IMM - Completed or Stage not Disbursement--->
          <div class="govuk-form-group">
            <label class="govuk-label govuk-label--s" for="aitLocation">
              Location of Asylum and Immigration Tribunal centre
            </label>
            <select class="govuk-select" id="aitLocation" name="aitLocation">
              <option></option>
              <option value="01 - Birmingham" {{"selected" if data["aitLocation"] == "01 - Birmingham"}}>01 - Birmingham</option>
              <option value="02 - Bradford" {{"selected" if data["aitLocation"] == "02 - Bradford"}}>02 - Bradford</option>
              <option value="03 - Harmondsworth" {{"selected" if data["aitLocation"] == "03 - Harmondsworth"}}>03 - Harmondsworth</option>
              <option value="04 - London  -  Field House" {{"selected" if data["aitLocation"] == "04 - London  -  Field House"}}>04 - London  -  Field House</option>
              <option value="05 - London  -  Hatton Cross (York House)" {{"selected" if data["aitLocation"] == "05 - London  -  Hatton Cross (York House)"}}>05 - London  -  Hatton Cross (York House)</option>
              <option value="06 - London  -  Taylor House" {{"selected" if data["aitLocation"] == "06 - London  -  Taylor House"}}>06 - London  -  Taylor House</option>
              <option value="07 - Manchester (Piccadilly)" {{"selected" if data["aitLocation"] == "07 - Manchester (Piccadilly)"}}>07 - Manchester (Piccadilly)</option>
              <option value="08 - Newport (Columbus House)" {{"selected" if data["aitLocation"] == "08 - Newport (Columbus House)"}}>08 - Newport (Columbus House)</option>
              <option value="09 - North Shields (Kings Cort)" {{"selected" if data["aitLocation"] == "09 - North Shields (Kings Cort)"}}>09 - North Shields (Kings Cort)</option>
              <option value="10 - Nottingham Magistrates Court" {{"selected" if data["aitLocation"] == "10 - Nottingham Magistrates Court"}}>10 - Nottingham Magistrates Court</option>
              <option value="11 - Stoke (Bennett House)" {{"selected" if data["aitLocation"] == "11 - Stoke (Bennett House)"}}>11 - Stoke (Bennett House)</option>
              <option value="12 - Surbiton" {{"selected" if data["aitLocation"] == "12 - Surbiton"}}>12 - Surbiton</option><option value="13">13 - Walsall</option>
              <option value="14 - Yarls Wood" {{"selected" if data["aitLocation"] == "14 - Yarls Wood"}}>14 - Yarls Wood</option>
              <option value="15 - N/A  -  Application Only" {{"selected" if data["aitLocation"] == "15 - N/A  -  Application Only"}}>15 - N/A  -  Application Only</option>
              <option value="16 - Other" {{"selected" if data["aitLocation"] == "16 - Other"}}>16 - Other</option>
            </select>
          </div>  
        {% endif %}
      {% endif %}

       {% if data['lawCategory'] == "Family" or data['lawCategory'] == "All" %}
        <!---FAM--->
        {{ govukInput({
          label: {
            text: "Local authority case reference number (optional)",
            classes: "govuk-label--s",
            isPageHeading: false
          },
          classes: "govuk-input--width-10",
          id: "localAuth",
          name: "localAuth",
          value: data['localAuth']
        }) }}
      {% endif %}

      <!---ALL--->
      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--s" for="exemptionCriteria">
          Exemption criteria satisfied
        </label>
        <select class="govuk-select" id="exemptionCriteria" name="exemptionCriteria">
          <option></option>
          <option>Not applicable</option>
          <option value="CA001">CA001</option>
          <option value="CA002">CA002</option>
          <option value="CA003">CA003</option>
          <option value="CA004">CA004</option>
          <option value="CA005">CA005</option>
          <option value="CA006">CA006</option>
          <option value="CA007">CA007</option>
          <option value="CA008">CA008</option>
          <option value="DV001">DV001</option>
          <option value="DV002">DV002</option>
          <option value="DV003">DV003</option>
          <option value="DV004">DV004</option>
          <option value="DV005">DV005</option>
          <option value="DV006">DV006</option>
          <option value="DV007">DV007</option>
          <option value="DV008">DV008</option>
          <option value="DV009">DV009</option>
          <option value="DV010">DV010</option>
          <option value="DV011">DV011</option>
          <option value="DV012">DV012</option>
          <option value="DV013">DV013</option>
          <option value="DV014">DV014</option>
          <option value="DV015">DV015</option>
          <option value="DV016">DV016</option>
          <option value="DV017">DV017</option>
          <option value="DV018">DV018</option>
          <option value="DV019">DV019</option>
          <option value="UA001">UA001</option>
        </select>
      </div>

     
      {% set exceptionalHtml %}
        {{ govukInput({
          label: {
            text: "ECF reference",
            classes: "govuk-label--s",
            isPageHeading: false
          },
          classes: "govuk-input--width-10",
          id: "exceptionalCaseRef",
          name: "exceptionalCaseRef",
          value: data['exceptionalCaseRef'],
          hint: {
            text: "Must be 9 characters, in the format of NNNNNNNAA"
          }
        }) }}
      {% endset %}

      <!---ALL--->
      {{ govukRadios({
        name: "exceptionalCase",
        fieldset: {
          legend: {
            text: "Has Exceptional Case Funding (ECF) has been authorised",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--s"
          }
        },
        items: [
          {
            value: "Yes",
            text: "Yes",
            checked: checked("exceptionalCase", "Yes"),
            conditional: {
              html: exceptionalHtml
            }
          },
          {
            value: "No",
            text: "No",
            checked: checked("exceptionalCase", "No")
          }
        ]
      }) }}

      {% set transferHtml %}
         {{ mojDatePicker({
          id: "transferDate",
          name: "transferDate",
          value: data['transferDate'],
          label: {
            text: "Case transfer date",
            classes: "govuk-label--s"
          },
          hint: {
            text: "For example, 17/5/2024."
          }
        }) }}      
      {% endset %}

      <!---ALL--->
      {{ govukRadios({
        name: "caseTranfer",
        fieldset: {
          legend: {
            text: "Has or will the case be transfered?",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--s"
          }
        },
        items: [
          {
            value: "Yes",
            text: "Yes",
            checked: checked("caseTranfer", "Yes"),
            conditional: {
              html: transferHtml
            }
          },
          {
            value: "No",
            text: "No",
            checked: checked("caseTranfer", "No")
          }
        ]
      }) }}

      {% if data['lawCategory'] == "Immigration and Asylum" or data['lawCategory'] == "All" %}

        <!---IMM - Completed--->
        {% set ircHtml %}
          {{ govukInput({
            label: {
              text: "Nunber of clients seen at surgery",
              classes: "govuk-label--s",
              isPageHeading: false
            },
            classes: "govuk-input--width-10",
            id: "surgeryClients",
            name: "surgeryClients",
            value: data['surgeryClients']
          }) }}

          {{ govukInput({
            label: {
              text: "Nunber of clients resulting in a Legal Help matter opened",
              classes: "govuk-label--s",
              isPageHeading: false
            },
            classes: "govuk-input--width-10",
            id: "matterClients",
            name: "matterClients",
            value: data['matterClients']
          }) }}

          {{ mojDatePicker({
            id: "surgeryDate",
            name: "surgeryDate",
            value: data['surgeryDate'],
            label: {
              text: "Surgery date",
              classes: "govuk-label--s"
            },
            hint: {
              text: "For example, 17/5/2024."
            }
          }) }}      
        {% endset %}

        {{ govukRadios({
          name: "IRC",
          fieldset: {
            legend: {
              text: "IRC surgery",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--s"
            }
          },
          items: [
            {
              value: "Yes",
              text: "Yes",
              checked: checked("IRC", "Yes"),
              conditional: {
                html: ircHtml
              }
            },
            {
              value: "No",
              text: "No",
              checked: checked("IRC", "No")
            }
          ]
        }) }}

      {% endif %}

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Save and continue"
        }) }}

        {{ govukButton({
            text: "Save and come back later",
            classes: "govuk-button--secondary",
            href: "task-list"
          }) }}
      </div>

    </form>

  </div>
</div>

{% endblock %}
