{% extends "layouts/main.html" %}
{% set version = "v2" %}
{% set activePrimeNav = [true, false] %}
{% set activeSubNav = [true, false, false] %}

{% block header %}
  {% include version + "/includes/header-provider.html"%}
{% endblock %}


{% block pageTitle %}
  Claim progress – {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/banner.html"%}
    {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Claim progress
      </h1>
      {% if data['isImport'] == "yes" and data['importStatus'] == "error" %} 
        {% if data['question-claimType'] == "error"  %}
          {{ mojAlert({
            variant: "warning",
            title: "Some information is missing or incorrect",
            showTitleAsHeading: false,
            headingTag: "h3",
            dismissible: false,
            html: 'Review the highighted sections to resolve the following issues:<br><br>
             <ul class="govuk-list govuk-list--bullet">
              <li>Select a valid matter type combination</li>
                <ul class="govuk-list govuk-list--bullet">
                  <li>Matter type is needed to determine whether the claim is fixed fee or hourly rate</li>
                  <li>Matter type is needed to determine allowed additional fees</li>
                </ul>
                <li>Review primary costs as some fields use invalid formats</li>
            </ul>'
          }) }}
          {% elseif data['question-costs'] == "error" %}

          {{ mojAlert({
            variant: "warning",
            title: "Some information is missing or incorrect",
            showTitleAsHeading: false,
            headingTag: "h3",
            dismissible: false,
            html: 'Review the highighted sections to resolve the following issues:<br><br>
             <ul class="govuk-list govuk-list--bullet">
                <li>Review primary costs as some fields use invalid formats</li>
            </ul>'
          }) }}
        {% endif %}
      {% endif %}
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <ul class="govuk-task-list">
        <!---Setting up the claim--->
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          {% if data['question-claimType'] == "error" %}
            <div class="govuk-task-list__name-and-hint">
              <a href="claim-start?question-claimType=complete" class="govuk-link govuk-task-list__link"  aria-describedby="key-status">
                What you are claiming for
              </a>
            </div>
            <div class="govuk-task-list__status" id="key-status">
              <strong class="govuk-tag govuk-tag--red">
                There is a problem
              </strong>
            </div>
            {% else %} 
            <div class="govuk-task-list__name-and-hint">
              <a href="claim-start?question-claimType=complete" class="govuk-link govuk-task-list__link"  aria-describedby="key-status">
                What you are claiming for
              </a>
            </div>
            <div class="govuk-task-list__status" id="key-status">
              Completed
            </div>
          {% endif %}
        </li>
        <!--Client details-->
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          {% if data['question-claimType'] == "error" or data['question-claimType'] !== "complete" %}
            <div class="govuk-task-list__name-and-hint">
              Client details
            </div>
            <div class="govuk-task-list__status govuk-task-list__status--cannot-start-yet" id="client-status">
              Cannot start yet
            </div>
            {% elseif data['question-client'] == nil or data['question-client'] == "" or data['question-client'] == "notStarted" %}
            <div class="govuk-task-list__name-and-hint">
              <a href="claim-client" class="govuk-link govuk-task-list__link govuk-link--no-visited-state"  aria-describedby="client-status">
                Client details
              </a>
            </div>
            <div class="govuk-task-list__status" id="client-status">
              <strong class="govuk-tag govuk-tag--blue">
                Incomplete
              </strong>
            </div>
            {% else %}
            <!--For all other states AND show visited link status-->
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="claim-client" aria-describedby="client-status">
                Client details
              </a>
            </div>
            <div class="govuk-task-list__status" id="client-status">
              Completed
            </div>
          {% endif %}
        </li> 
        <!--Details of case-->
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          {% if data['question-claimType'] == "error" or data['question-claimType'] !== "complete" %}
            <div class="govuk-task-list__name-and-hint">
              Case details
            </div>
            <div class="govuk-task-list__status govuk-task-list__status--cannot-start-yet" id="case-status">
              Cannot start yet
            </div>
            {% elseif data['question-case'] == nil or data['question-case'] == "" or data['question-case'] == "notStarted" %}
            <div class="govuk-task-list__name-and-hint">
              <a href="claim-case" class="govuk-link govuk-task-list__link govuk-link--no-visited-state"  aria-describedby="case-status">
                Case details
              </a>
            </div>
            <div class="govuk-task-list__status" id="case-status">
              <strong class="govuk-tag govuk-tag--blue">
                Incomplete
              </strong>
            </div>
            {% elseif data['question-case'] == "complete" %}
            <!--For all other states AND show visited link status-->
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="claim-case" aria-describedby="case-status">
                Case details
              </a>
            </div>
            <!--If question-casa is complete, show the status Completed-->
            <div class="govuk-task-list__status" id="case-status">
                Completed
            </div>
          {% endif %}
        </li>
        <!--Costs -->
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          {% if data['question-claimType'] == "error" or data['question-claimType'] !== "complete" %}
            <div class="govuk-task-list__name-and-hint">
                Primary and additional costs
            </div>
            <div class="govuk-task-list__status govuk-task-list__status--cannot-start-yet" id="costs-status">
                Cannot start yet
            </div>
            {% elseif data['question-costs'] == "" or data['question-costs'] == null or data['question-costs'] == "notStarted" %}
            <div class="govuk-task-list__name-and-hint">
              <a href="claim-costs?question-costs=notStarted" class="govuk-link govuk-task-list__link govuk-link--no-visited-state"  aria-describedby="costs-status">
                Primary and additional costs
              </a>
            </div>
            <div class="govuk-task-list__status" id="costs-status">
              <strong class="govuk-tag govuk-tag--blue">
                Incomplete
              </strong>
            </div>
            {% elseif data['question-costs'] == "error" %}
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="claim-costs" aria-describedby="costs-status">
                Primary and additional costs
              </a>
            </div>
            <div class="govuk-task-list__status" id="costs-status">
              <strong class="govuk-tag govuk-tag--red">
                There is a problem
              </strong>
            </div>
            {% elseif data['question-costs'] == "complete" %}
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="claim-costs" aria-describedby="costs-status">
                Primary and additional costs
              </a>
            </div>
            <div class="govuk-task-list__status" id="costs-status">
                Completed
            </div>
          {% endif %}
        </li>
        <!--Check -->
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          {% if data['question-claimType'] == "error" or data['question-claimType'] !== "complete" %}
            <div class="govuk-task-list__name-and-hint">
                Check your claim
            </div>
            <div class="govuk-task-list__status govuk-task-list__status--cannot-start-yet" id="check-status">
                Cannot start yet
            </div>
            {% elseif data['question-check'] == "" or data['question-check'] == Nil or data['question-check'] == "notStarted" %}
            <div class="govuk-task-list__name-and-hint">
              <a href="claim-check?question-check=notStarted" class="govuk-link govuk-task-list__link govuk-link--no-visited-state"  aria-describedby="check-status">
                Check your claim
              </a>
            </div>
            <div class="govuk-task-list__status" id="check-status">
              <strong class="govuk-tag govuk-tag--blue">
                Incomplete
              </strong>
            </div>
            {% elseif data['question-check'] == "complete" %}
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="claim-check" aria-describedby="check-status">
                Check your claim
              </a>
            </div>
            <div class="govuk-task-list__status" id="check-status">
                Completed
            </div>
          {% endif %}
        </li>
      </ul>

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Save and continue",
            href: "../submission/submission-details-draft?claims=1"
        }) }}
      </div>

    </div>

    <div class="govuk-grid-column-one-third">
      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-s" id="subsection-title">Claim details</h2>
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <span class="govuk-!-font-weight-bold">Unique file number</span>   
            <br>{{data['ufn'] or "100323/234"}}
          </li>
          <li>                
            <span class="govuk-!-font-weight-bold">Case start</span>   
            <br>{{data['caseStart'] or "12/6/2025" }} 
          </li>
          <li>
            <span class="govuk-!-font-weight-bold">Law Category</span>   
            <br>{{data['lawCategory'] or "All for testing"}}
          </li>
          {% if data['lawCategory'] == "Immigration and Asylum" %}
            <li>                
              <span class="govuk-!-font-weight-bold">Claim type</span>   
              <br>{{data['claimTypeImmigration'] or "Completed matter claim"}}
            </li>
          {% endif %}
          <li>                
            <span class="govuk-!-font-weight-bold">Matter type</span>   
            <br>{{data['matterType'] or "" }} 
          </li>
        </ul>
      </aside>
    </div>
  </div>
{% endblock %}


