{{ mojSubNavigation({
  label: 'Sub navigation',
  items: [{
    text: 'Submitted',
    href: 'submissions-submitted',
    active: + activeSubNav[0] | default('true')
  }, {
    text: 'In progress',
    href: 'submissions-drafts',
    active: + activeSubNav[1]
  }]
}) }}