      {% if data['subStatus'] == "In progress" %}
      <h2 class="govuk-heading-m">Claimed: <span class="govuk-!-font-weight-regular">£{{data['actualdistTotalCost'] or ('1362')}}.00</span></h2>
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">
            Submission details
          </h2>
          <ul class="govuk-summary-card__actions">
            <li class="govuk-summary-card__action">
              <a class="govuk-link" href="submission-start?isImport=No">Change<span class="govuk-visually-hidden"> submission details</span></a>
            </li>
          </ul>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Account
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['office'] or "C1B1C1"}}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Submission type
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['subType'] or "Lower crime"}}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Date
              </dt>
              <dd class="govuk-summary-list__value">
                March 2025
              </dd>
            </div>
          </dl>
        </div>
      </div>

      {% elseif data['subStatus'] == "Submitted" %}
      <h2 class="govuk-heading-m">Claimed: <span class="govuk-!-font-weight-regular">£{{data['actualdistTotalCost'] or ('1362')}}.00</span></h2>
      <h2 class="govuk-heading-m">Account: <span class="govuk-!-font-weight-regular">{{data['office'] or "C1B1C1"}}</h2>
      <h2 class="govuk-heading-m">Submission type: <span class="govuk-!-font-weight-regular">{{data['subType'] or "Lower crime"}}</h2>
      <h2 class="govuk-heading-m">Date: <span class="govuk-!-font-weight-regular">March 2025</h2>
      
      {% elseif data['subStatus'] == "Paid" %}
      <h2 class="govuk-heading-m">Claimed: <span class="govuk-!-font-weight-regular">£{{data['actualdistTotalCost'] or ('1362')}}.00</span></h2>
      <h2 class="govuk-heading-m"><span class="">Paid:</span> <span class="govuk-!-font-weight-regular">£{{data['actualdistTotalCost'] or ('1362')}}.00</span></h2>
      <h2 class="govuk-heading-m">Account: <span class="govuk-!-font-weight-regular">{{data['office'] or "C1B1C1"}}</h2>
      <h2 class="govuk-heading-m">Submission type: <span class="govuk-!-font-weight-regular">{{data['subType'] or "Lower crime"}}</h2>
      <h2 class="govuk-heading-m">Date: <span class="govuk-!-font-weight-regular">March 2025</h2>

      {% elseif data['subStatus'] == "Part paid" %}
      <h2 class="govuk-heading-m">Claimed: <span class="govuk-!-font-weight-regular">£{{data['actualdistTotalCost'] or ('1362')}}.00</span></h2>
      <h2 class="govuk-heading-m">Paid: <span class="govuk-!-font-weight-regular">£{{data['actualdistTotalCost'] or ('1010')}}.00</span></h2>
      <h2 class="govuk-heading-m">Account: <span class="govuk-!-font-weight-regular">{{data['office'] or "C1B1C1"}}</h2>
      <h2 class="govuk-heading-m">Submission type: <span class="govuk-!-font-weight-regular">{{data['subType'] or "Lower crime"}}</h2>
      <h2 class="govuk-heading-m">Date: <span class="govuk-!-font-weight-regular">March 2025</h2>
            
    {% endif %} 