<table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--m">Summary of claim costs</caption>
  <thead class="govuk-table__head">
    <td class="govuk-table__header"></td>
    <th scope="col" class="govuk-table__header govuk-table__header--numeric">Case costs</th>
    <th scope="col" class="govuk-table__header govuk-table__header--numeric">Claimed</th>
    <th scope="col" class="govuk-table__header govuk-table__header--numeric">Allowed</th>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Profit costs</th>
      <td class="govuk-table__cell govuk-table__cell--numeric">£5000.00</td>
      <td class="govuk-table__cell govuk-table__cell--numeric"></td>
      <td class="govuk-table__cell govuk-table__cell--numeric"></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Travel & waiting</th>
      <td class="govuk-table__cell govuk-table__cell--numeric">£100.00</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">£100.00</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">£100.00</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Disbursements (including VAT)</th>
      <td class="govuk-table__cell govuk-table__cell--numeric">£1000.00</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">£1000.00</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">£1000.00</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Additional fees</th>
      <td class="govuk-table__cell govuk-table__cell--numeric">£1000.00</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">£1000.00</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">£1000.00</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Fixed fee</th>
      <td class="govuk-table__cell govuk-table__cell--numeric"></td>
      <td class="govuk-table__cell govuk-table__cell--numeric">£2000.00</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">£2000.00</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Total</th>
      <td class="govuk-table__cell govuk-table__cell--numeric"><span class="govuk-visually-hidden">Sum of cost:</span><strong>£7100.00</strong></td>
      <td class="govuk-table__cell govuk-table__cell--numeric"><span class="govuk-visually-hidden">Sum of claimed costs:</span><strong>£4100.00</strong></td>
      <td class="govuk-table__cell govuk-table__cell--numeric"><span class="govuk-visually-hidden">Sum of allowed costs:</span><strong>£4100.00</strong></td>
    </tr>
  </tbody>
</table>
<section class="govuk-!-margin-bottom-6">
  <p class="govuk-body-s" id="fn*">[*] 5 claims have escaped</p>
</section>