subStatus=In progress

&isImport=no
importStatus=success
importStatus=error

Submission
&subPeriod-month=&subPeriod-year=&firmAC=&submissionType=&Immigration_matterStart=&Family_matterStart=

&subPeriod-month=March&subPeriod-year=2025&firmAC=A1B2C3&submissionType=Legal help&Immigration_matterStart=4&Family_matterStart=2


Case
&question-claimType=&question-client=&question-case=&question-costs=&question-check=&scheduleRef=&ufn=&caseStart=&lawCategory=&claimTypeImmigration=&matterType=&client-first-name=&client-last-name=&clientDOB=&client-postcode=&UCN=&homeUCN=

question-claimType=error&question-client=complete&question-case=&question-costs=&question-check=&ufn=00323/234&caseStart=12/11/2023&lawCategory=Immigration and Asylum&claimTypeImmigration=Completed matter claim&matterType=&client-first-name=Joanna&client-last-name=McBars&clientDOB=2/3/2020&client-postcode=E1 6EG&UCN=10031999/J/MCB&homeUCN=10031999/MCB&clientGender=Female&clientEthnicity=04 - Black or Black British Caribbean&clientDisability=NCD - Not Considered Disabled





