{% extends "layouts/main.html" %}
{% set version = "wip" %}
{% set activePrimeNav = [true, false] %}
{% set activeSubNav = [true, false, false] %}

{% block header %}
  {% include version + "/includes/header-provider.njk" %}
{% endblock %}


{% block pageTitle %}
  Submission 123456 – {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/banner.html"%}
  {% include version + "/includes/nav-prime-provider.njk" %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row"> 
  <div class="govuk-grid-column-two-thirds">
   <!--Status of claim-->
  {% include version + "/includes/sub-info.njk" %}
  </div>
</div>



<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-button-group">
      {{ govukButton({
        text: "Import submission",
        href: "import/claim-import"
      }) }}

      {{ govukButton({
        text: "Make a new submission",
        href: "submission/submission-type",
        classes: "govuk-button--secondary"
      }) }}

    </div>
   

    {% include version + "/includes/nav-sub-provider.njk" %}


    <h2 class="govuk-heading-m">Claims</h2>
    
  </div>

</div>

<script>
  const date = new Date();
  const formattedDate = date.toLocaleDateString('en-GB', {
    month: 'short', year: 'numeric'
  }).replace(/ /g, ' ');
  document.getElementById("date").innerHTML = formattedDate;
</script>  

{% endblock %}