{% extends "layouts/main.html" %}
{% set version = "wip" %}
{% set activePrimeNav = [true, false] %}
{% set activeSubNav = [true, false, false] %}

{% block header %}
  {% include version + "/includes/header-provider.njk" %}
{% endblock %}


{% block pageTitle %}
  Submission 123456 – {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/banner.html"%}
  {% include version + "/includes/nav-prime-provider.njk" %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row"> 
  <div class="govuk-grid-column-two-thirds">
    {% if data['subStatus'] == "In progress" %}
      <p><strong class="govuk-tag govuk-tag--grey">In progress</strong></p>

      {% elseif data['subStatus'] == "Submitted" %}
      <p><strong class="govuk-tag govuk-tag--purple">Submitted</strong></p>
      
      {% elseif data['subStatus'] == "Paid" %}
      <p><strong class="govuk-tag govuk-tag--green">Paid</strong></p>

      {% elseif data['subStatus'] == "Part paid" %}
      <p><strong class="govuk-tag govuk-tag--blue">Part paid</strong></p>
                    
    {% endif %} 
    <h1 class="govuk-heading-xl">{{data['laa-ref'] or "LAA-5a7d3c"}}</h1>
  </div>
</div>

<div class="govuk-grid-row"> 
  <div class="govuk-grid-column-two-thirds">
    {% include version + "/includes/sub-info.njk" %}
  </div>
  <div class="govuk-grid-column-one-third">
    <aside class="app-related-items" role="complementary">
      <h2 class="govuk-heading-s" id="subsection-title">Email the LAA case team</h2>
      <ul class="govuk-list">
        <li>
          <a class="govuk-link govuk-body-s govuk-link--no-visited-state" href="mailto:control@justice.gov.uk">control@justice.gov.uk</a>
        </li> 
      </ul>    
    </aside>
  </div> 
  </div>
  
   <!--Status of claim-->
<div class="govuk-grid-row"> 
  <div class="govuk-grid-column-full">

    <!--2nd nav-->
    {{ mojSubNavigation({
      label: 'Sub navigation',
      items: [{
        text: 'Claims',
        href: 'claim-details#nav',
        active: true
      }, 
      {
        text: 'Matter types',
        href: 'matter-types#nav',
        active: false
      },
      {
        text: 'Claim history',
        href: 'claim-details-history#nav',
        active: false
      }
      ]
    }) }}

    <h2 class="govuk-heading-l" id="nav">Claims</h2>

    {% if data['importStatus'] == "error" %}
      {%- from "moj/components/alert/macro.njk" import mojAlert -%}

      {{ mojAlert({
        variant: "warning",
        title: "Some information is mising or incorrect",
        showTitleAsHeading: true,
        headingTag: "h3",
        dismissible: false,
        html: '<p class="govuk-body">2 claims have missing or incorrect information and need to be updated: <a href="">claim 1</a>, <a href="">claim 2</a></p>'
      }) }}

    {% endif %}

        {{ govukButton({
      text: "Add claim",
      href: "application-details-assign",
      classes: "govuk-button--secondary"
    }) }}

     <table class="govuk-table" data-module="moj-sortable-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header" aria-sort="none" id="claimTitle">Claim</th>
            <th scope="col" class="govuk-table__header" aria-sort="none">Client</th>   
            <th scope="col" class="govuk-table__header" aria-sort="none">Matter type</th>         
            <th scope="col" class="govuk-table__header" aria-sort="none">Stage</th>
            <th scope="col" class="govuk-table__header" aria-sort="none">Outcome</th>
            <th scope="col" class="govuk-table__header" aria-sort="ascending">Concluded</th>
            <th scope="col" class="govuk-table__header" aria-sort="none">Claimed</th>
            <th scope="col" class="govuk-table__header">Action</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" id="claim1">
            1
            </td>
            <td class="govuk-table__cell" ><a href="" id="clientName1" aria-labelledby="claimTitle claim1 clientName1">McBars</a></td>
            <td class="govuk-table__cell">Immigration (7)</td>
            <td class="govuk-table__cell">Invoice</td>
            <td class="govuk-table__cell">CN02</td>
            <td class="govuk-table__cell" data-sort-value="2501">1 Jan 2025</td>
            <td class="govuk-table__cell">£56.00</td>
            <td class="govuk-table__cell">
              <ul class="govuk-summary-list__actions-list">
                <li class="govuk-summary-list__actions-list-item">
                  <a aria-labelledby="delete claimTitle claim1 clientName1" id="delete" class="govuk-link" href="">Delete</a>
                </li>
                <li class="govuk-summary-list__actions-list-item">
                  <a aria-labelledby="update claimTitle claim1 clientName1" id="update" class="govuk-link" href="">Update</a>
                </li>
              </ul>
            </td>
          </tr>    
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" id="claim2">
             2
            </td>
            <td class="govuk-table__cell"><a href="" id="clientName2" aria-labelledby="claimTitle claim2 clientName2">Gubbins</a></td>
            <td class="govuk-table__cell">Family (3)</td>
            <td class="govuk-table__cell">Invoice</td>            
            <td class="govuk-table__cell">CN06</td>
            <td class="govuk-table__cell" data-sort-value="2502">21 Feb 2025</td>
            <td class="govuk-table__cell">£234.56</td>
            <td class="govuk-table__cell">
              <ul class="govuk-summary-list__actions-list">
                <li class="govuk-summary-list__actions-list-item">
                  <a aria-labelledby="delete claimTitle claim2 clientName2" id="delete" class="govuk-link" href="">Delete</a>
                </li>
                <li class="govuk-summary-list__actions-list-item">
                  <a aria-labelledby="update claimTitle claim2 clientName2" id="update" class="govuk-link" href="">Update</a>
                </li>
              </ul></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" id="claim3">
            3
            </td>
            <td class="govuk-table__cell" ><a href="" id="clientName3" aria-labelledby="claimTitle claim3 clientName3">Gruffalo</a></td>
            <td class="govuk-table__cell">Immigration (7)</td>
            <td class="govuk-table__cell">Invoice</td>
            <td class="govuk-table__cell">CN03</td>
            <td class="govuk-table__cell" data-sort-value="2503">1 Mar 2025</td>
            <td class="govuk-table__cell">£456.01</td>
            <td class="govuk-table__cell">
              <ul class="govuk-summary-list__actions-list">
                <li class="govuk-summary-list__actions-list-item">
                  <a aria-labelledby="delete claimTitle claim3 clientName3" id="delete" class="govuk-link" href="">Delete</a>
                </li>
                <li class="govuk-summary-list__actions-list-item">
                  <a aria-labelledby="duplicate claimTitle claim3 clientName3" id="duplicate" class="govuk-link" href="">Duplicate</a>
                </li>
              </ul>
            </td>
          </tr>
        </body>
      </table>
    
  </div>
</div>

<script>
  const date = new Date();
  const formattedDate = date.toLocaleDateString('en-GB', {
    month: 'short', year: 'numeric'
  }).replace(/ /g, ' ');
  document.getElementById("date").innerHTML = formattedDate;
</script>  

{% endblock %}