{% extends "layouts/main.html" %}
{% set version = "wip" %}
{% set activePrimeNav = [true, false, false, false] %}


{% block header %}
  {% include version + "/includes/header-provider.html"%}
{% endblock %}

{% block pageTitle %}
  What you are claiming for – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/banner.html"%}
  {% include version + "/includes/nav-prime-provider.njk" %}
  
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if data['isImport'] == "yes" %}
        <form class="form" action="/{{version}}/submission/submission-details" method="post">
        {% else %}
        <form class="form" action="/{{version}}/submission/claim-start" method="post">
      {% endif %}

          <h1 class="govuk-heading-xl">Submission details</h1>

          {% if data['isImport'] == "yes" %}

            {%- from "moj/components/alert/macro.njk" import mojAlert -%}

            {{ mojAlert({
              variant: "info",
              title: "Submission imported",
              showTitleAsHeading: true,
              dismissible: false,
              html: '<p class="govuk-body">You imported 23 claims. Review all claims before final submission.</p>'
            }) }}

          {% endif%}

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" role="group" aria-describedby="subPeriod-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                Submission period
              </legend>
              <div id="subPeriod-hint" class="govuk-hint">
                For example, 3 2025
              </div>
              <div class="govuk-date-input" id="subPeriod-issued">
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="subPeriod-month">
                      Month
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="subPeriod-month" type="text" inputmode="numeric" value="{{data['subPeriod-month']}}">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="subPeriod-year">
                      Year
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="subPeriod-year" name="subPeriod-year" type="text" inputmode="numeric" value="{{data['subPeriod-year']}}">
                  </div>
                </div>
              </div>
            </fieldset>
          </div>

          {{ govukRadios({
            name: "firmAC",
            fieldset: {
              legend: {
                text: "Which firm office account number is this submission for?",
                isPageHeading: false,
                classes: "govuk-fieldset__legend--s"
              }
            },
            hint: {
              text: "Your sign in details give you access to these firm office account numbers. To get access to a different firm office account number contact your firm's LAA account administrator."
            },
            items: [
              {
                value: "A1B2C3",
                text: "A1B2C3",
                checked: checked("firmAC", "A1B2C3")
              },
              {
                value: "B1B2C3",
                text: "B1B2C3",
                checked: checked("firmAC", "B1B2C3")
              }
            ]
          }) }}

          {{ govukRadios({
            name: "submissionType",
            fieldset: {
              legend: {
                text: "What is the submission type?",
                isPageHeading: false,
                classes: "govuk-fieldset__legend--s"
              }
            },
            items: [
              {
                value: "Lower crime",
                text: "Lower crime",
                checked: checked("submissionType", "Lower crime")
              },
              {
                value: " 	Legal help",
                text: " 	Legal help",
                checked: checked("submissionType", "Legal help")
              },
              {
                value: "Mediation",
                text: "Mediation",
                checked: checked("submissionType", "Mediation")
              }
            ]
          }) }}  

          <div class="govuk-button-group">
            {{ govukButton({
              text: "Save and continue"
            }) }}

          </div>

        </form>

    </div>
  </div>

{% endblock %}