{% extends "layouts/main.html" %}
{% set version = "wip" %}
{% set activePrimeNav = [true, false] %}
{% set activeSubNav = [false, true, false] %}

{% block header %}
  {% include version + "/includes/header-provider.njk" %}
{% endblock %}


{% block pageTitle %}
  In progress applications – {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/banner.html"%}
  {% include version + "/includes/nav-prime-provider.njk" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row"> 
  <div class="govuk-grid-column-full">
   
    <h1 class="govuk-heading-xl">
      Your claims
    </h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-button-group">
          {{ govukButton({
            text: "Import claims",
            href: "import/claim-import"
          }) }}

          {{ govukButton({
            text: "Make a new claim",
            href: "claim/task-list",
            classes: "govuk-button--secondary"
          }) }}

        </div>
   

    {% include version + "/includes/nav-sub-provider.njk" %}


    <h2 class="govuk-heading-m">In progress</h2>
    {% if data['app-state'] == "empty"  %}
      <p>You do not have any draft claims.</p>
      {% else %}
      <table class="govuk-table" data-module="moj-sortable-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header" aria-sort="none">Submission</th>
            <th scope="col" class="govuk-table__header" aria-sort="none">Account</th>
            <th scope="col" class="govuk-table__header" aria-sort="none">Submission type</th>
            <th scope="col" class="govuk-table__header" aria-sort="descending">Date</th>
            <th scope="col" class="govuk-table__header" aria-sort="none">Schedule/ submission ref</th>
            <th scope="col" class="govuk-table__header">Action</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">    
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="claim-details" class="govuk-link--no-visited-state" >254674</a>
            </td>
            <td class="govuk-table__cell" >A1B1C1</td>
            <td class="govuk-table__cell">Crime lower</td>
            <td class="govuk-table__cell" data-sort-value="2502">Feb 2025</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">Incomplete</strong></td>
            <td class="govuk-table__cell"><a href="" 
            class="govuk-link--no-visited-state">Delete <span class="govuk-visually-hidden">claim 254674</span></a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
            <a href="claim-details" class="govuk-link--no-visited-state">834562</a>
            </td>
            <td class="govuk-table__cell" data-sort-value="C1B1C1">C1B1C1</td>
            <td class="govuk-table__cell">Crime lower</td>
            <td class="govuk-table__cell" data-sort-value="2601"><span id="date"></span></td>
            <td class="govuk-table__cell">CRM/2M408A/19.3</td>
            <td class="govuk-table__cell"><a href="" 
            class="govuk-link--no-visited-state">Delete <span class="govuk-visually-hidden">claim 834562</span></a></td>
          </tr>
        </body>
      </table>
    {% endif %}
  </div>

</div>

<script>
  const date = new Date();
  const formattedDate = date.toLocaleDateString('en-GB', {
    month: 'short', year: 'numeric'
  }).replace(/ /g, ' ');
  document.getElementById("date").innerHTML = formattedDate;
</script>  

{% endblock %}