{% extends "layouts/main.html" %}
{% set version = "wip" %}
{% set activePrimeNav = [true, false] %}
{% set activeSubNav = [true, false, false] %}

{% block header %}
  {% include version + "/includes/header-provider-new.njk" %}
{% endblock %}


{% block pageTitle %}
  Your claims – {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}

<div class="moj-primary-navigation">
  <div class="moj-primary-navigation__container">
    <div class="moj-primary-navigation__nav switch-service-navigation">
      <nav class="moj-primary-navigation " aria-label="Primary navigation">
        <ul class="moj-primary-navigation__list">
          <li class="moj-primary-navigation__item">
            <a class="moj-primary-navigation__link" aria-current="page" href="#1">Your applications</a>
          </li>
          <li class="moj-primary-navigation__item">
            <a class="moj-primary-navigation__link" href="#2">Open applications</a>
          </li>
          <li class="moj-primary-navigation__item">
            <a class="moj-primary-navigation__link" href="#2">Closed applications</a>
          </li>
          <li class="moj-primary-navigation__item">
            <a class="moj-primary-navigation__link" href="#3">Search</a>
          </li>
          <li class="moj-primary-navigation__item switch-service-navigation_item2">
            <a class="" href="#3">Change service</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>

<br>
<br>
<br>
<div class="moj-primary-navigation">
  <div class="moj-primary-navigation__container">
    <div class="moj-primary-navigation__nav">
      <nav class="moj-primary-navigation" aria-label="Primary navigation">
        <ul class="moj-primary-navigation__list">
          <li class="moj-primary-navigation__item">
            <a class="moj-primary-navigation__link" aria-current="page" href="#1">Your applications</a>
          </li>
          <li class="moj-primary-navigation__item">
            <a class="moj-primary-navigation__link" href="#2">Open applications</a>
          </li>
          <li class="moj-primary-navigation__item">
            <a class="moj-primary-navigation__link" href="#2">Closed applications</a>
          </li>
          <li class="moj-primary-navigation__item">
            <a class="moj-primary-navigation__link" href="#3">Search</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>

  {% include "includes/banner.html"%}
{% endblock %}

{% block content %}

<div class="govuk-grid-row"> 
  <div class="govuk-grid-column-full">
   
    <h1 class="govuk-heading-xl">
      Your content
    </h1>
  </div>
</div>





{% endblock %}