{% extends "layouts/main.html" %}
{% set version = "wip" %}
{% set activePrimeNav = [true, false] %}
{% set activeSubNav = [true, false, false] %}

{% block header %}
  {% include "/includes/header-provider.njk" %}
{% endblock %}


{% block pageTitle %}
  Your applications – {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/banner.html"%}
    {{ govukBackLink({
    text: "Back to submission",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        Your claim progress
      </h1>
      {% if data['importStatus'] == "error" and data['subStatus'] == "In progress" %}
        {{ mojAlert({
          variant: "error",
          title: "Some information is missing or incorrect",
          showTitleAsHeading: true,
          headingTag: "h3",
          dismissible: false,
          html: '<p>You must carefully review all sections of this claim. This claim has the following types of errors:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>Incompatible combinations of [thing]</li>
            <li>Incompatible combinations of [another thing]</li>
            <li>Minor problems with field formatting</li>
            <li>Some other high level type of error</li>
          </ul>
          '
        }) }}
      {% endif %}
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <h2 class="govuk-heading-m govuk-!-margin-top-5">
        About your claim
      </h2>
      <ul class="govuk-task-list">
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          {% if data['importStatus'] == "error" and data['subStatus'] == "In progress" %}
            <div class="govuk-task-list__name-and-hint">
              <a href="claim-start?question-claimType=complete" class="govuk-link govuk-task-list__link"  aria-describedby="key-status">
                What you are claiming for
              </a>
            </div>
            <div class="govuk-task-list__status" id="key-status">
              <strong class="govuk-tag govuk-tag--red">
                There is a problem
              </strong>
            </div>
            {% else %} 
            <div class="govuk-task-list__name-and-hint">
              <a href="claim-start?question-claimType=complete" class="govuk-link govuk-task-list__link"  aria-describedby="key-status">
                What you are claiming for
              </a>
            </div>
            <div class="govuk-task-list__status" id="key-status">
              Completed
            </div>
          {% endif %}
        </li>
        <!--Costs -->
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          {% if data['question-claimType'] !== "complete" %}
            <div class="govuk-task-list__name-and-hint">
                Your costs
            </div>
            <div class="govuk-task-list__status govuk-task-list__status--cannot-start-yet" id="costs-status">
                Cannot start yet
            </div>
            {% elseif data['question-costs'] == "" or data['question-costs'] == Nil or data['question-costs'] == "notStarted" %}
            <div class="govuk-task-list__name-and-hint">
              <a href="claim-costs?question-costs=notStarted" class="govuk-link govuk-task-list__link govuk-link--no-visited-state"  aria-describedby="costs-status">
                Your costs
              </a>
            </div>
            <div class="govuk-task-list__status" id="costs-status">
              <strong class="govuk-tag govuk-tag--blue">
                Incomplete
              </strong>
            </div>
            {% elseif data['question-costs'] == "complete" %}
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="claim-costs" aria-describedby="costs-status">
                Your costs
              </a>
            </div>
            <div class="govuk-task-list__status" id="costs-status">
                Completed
            </div>
          {% endif %}
        </li>

      <!--Section 2 -->
      <h2 class="govuk-heading-m govuk-!-margin-top-5">
        About the case
      </h2>
      <ul class="govuk-task-list">
        <!--Client details-->
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          {% if data['question-claimType'] !== "complete" %}
            <div class="govuk-task-list__name-and-hint">
              Client details
            </div>
            <div class="govuk-task-list__status govuk-task-list__status--cannot-start-yet" id="client-status">
              Cannot start yet
            </div>
            {% elseif data['question-client'] == nil or data['question-client'] == "" or data['question-client'] == "notStarted" %}
            <div class="govuk-task-list__name-and-hint">
              <a href="claim-client" class="govuk-link govuk-task-list__link govuk-link--no-visited-state"  aria-describedby="client-status">
                Client details
              </a>
            </div>
            <div class="govuk-task-list__status" id="client-status">
              <strong class="govuk-tag govuk-tag--blue">
                Incomplete
              </strong>
            </div>
            {% else %}
            <!--For all other states AND show visited link status-->
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="claim-client" aria-describedby="client-status">
                Client details
              </a>
            </div>
            <div class="govuk-task-list__status" id="client-status">
              Completed
            </div>
          {% endif %}
        </li> 

        <!--Details of case-->
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          {% if data['question-claimType'] !== "complete" %}
            <div class="govuk-task-list__name-and-hint">
              Case details
            </div>
            <div class="govuk-task-list__status govuk-task-list__status--cannot-start-yet" id="case-status">
              Cannot start yet
            </div>
            {% elseif data['question-case'] == "" or data['question-case'] == Nil or data['question-case'] == "notStarted" %}
            <div class="govuk-task-list__name-and-hint">
              <a href="claim-case?question-case=notStarted" class="govuk-link govuk-task-list__link govuk-link--no-visited-state"  aria-describedby="case-status">
                Case details
              </a>
            </div>
            <div class="govuk-task-list__status" id="case-status">
              <strong class="govuk-tag govuk-tag--blue">
                Incomplete
              </strong>
            </div>
            {% elseif data['question-case'] == "complete" %}
            <!--For all other states AND show visited link status-->
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="claim-case" aria-describedby="case-status">
                Case details
              </a>
            </div>
            <!--If question-casa is complete, show the status Completed-->
            <div class="govuk-task-list__status" id="case-status">
                Completed
            </div>
          {% endif %}
        </li>

      </ul>

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Save and continue",
          href: "../crm-claims-reviewed"
        }) }}

        {{ govukButton({
            text: "Save and come back later",
            classes: "govuk-button--secondary",
            href: "../submission/submission-details"
          }) }}
      </div>

    </div>

    <div class="govuk-grid-column-one-third">
      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-s" id="subsection-title">Claim details</h2>
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <span class="govuk-!-font-weight-bold">Unique file number</span>   
            <br>{{data['ufn'] or "100323/234"}}
          </li>
          <li>                
            <span class="govuk-!-font-weight-bold">Case start</span>   
            <br>{{data['caseStart'] or "12 June 2024" }} 
          </li>
          <li>
            <span class="govuk-!-font-weight-bold">Law Category</span>   
            <br>{{data['lawCategory'] or "All for testing"}}
          </li>
          {% if data['lawCategory'] == "Immigration and Asylum" %}
            <li>                
              <span class="govuk-!-font-weight-bold">Claim type</span>   
              <br>{{data['claimTypeImmigration'] or "Completed matter claim"}}
            </li>
          {% endif %}
          <li>                
            <span class="govuk-!-font-weight-bold">Matter type</span>   
            <br>{{data['matterType'] or "AAAA:AAAA" }} 
          </li>
        </ul>
      </aside>
    </div>
  </div>
{% endblock %}


