{% extends "layouts/main.html" %}
{% set version = "wip-cwa" %}
{% set activePrimeNav = [true, false] %}

{% block header %}
  {% include version + "/includes/header-provider.html"%}
{% endblock %}


{% block pageTitle %}
  Your applications – {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/banner.html"%}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/submission-import-error" method="post">

        
        {% if data['importError'] == "Yes" %}
          <h1 class="govuk-heading-l">Import failed</h1>
          {{ mojAlert({
            variant: "warning",
            title: "There is a problem with your file",
            showTitleAsHeading: false,
            dismissible: false,
            html: '10 of the claims have missing or incorrect information. All errors must be resolved and the file imported again.'
          }) }}

          {% elseif data['importError'] == "No" %}

          <h1 class="govuk-heading-l">Import successful</h1> 
         
        {% endif %}

         {{ mojAlert({
            variant: "important",
            title: "Submission reference",
            showTitleAsHeading: false,
            dismissible: false,
            html: 'Submission reference: 3444979 '
          }) }}

        <dl class="govuk-summary-list govuk-summary-list--no-border">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
               Firm account number 
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['firmAccount'] or "2Q282Z"}}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Summary ID
            </dt>
            <dd class="govuk-summary-list__value">
              1634221
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date
            </dt>
            <dd class="govuk-summary-list__value">
              25 August 2025
            </dd>
          </div>
          {% if data['importError'] == "Yes" %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Claims with errors
              </dt>
              <dd class="govuk-summary-list__value">
                10/17
              </dd>
            </div>
            {% elseif data['importError'] == "No" %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Claims
              </dt>
              <dd class="govuk-summary-list__value">
                17
              </dd>
            </div>
          {% endif %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Duplicate claims
            </dt>
            <dd class="govuk-summary-list__value">
              0
            </dd>
          </div>
        </dl>
      </div>

      <div class="govuk-grid-column-full">

        <table class="govuk-table" data-module="moj-sortable-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header" aria-sort="none">UFN</th>
              <th scope="col" class="govuk-table__header" aria-sort="none">Client</th>
              <th scope="col" class="govuk-table__header" aria-sort="descending">Type of error</th>
              <th scope="col" class="govuk-table__header" aria-sort="none">Error description</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">    
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">010124/101</td>
              <td class="govuk-table__cell">Dawson</td>
              <td class="govuk-table__cell">VALIDATION4</td>
              <td class="govuk-table__cell">CP19 is not a valid OUTCOME_CODE</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">010124/102</td>
              <td class="govuk-table__cell">Trumble</td>
             <td class="govuk-table__cell">LAR Validation8</td>
              <td class="govuk-table__cell">The fee you have entered is not valid for Category 1A / YOUE matters. Please enter a valid fee in the profit costs field.</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">010124/103</td>
              <td class="govuk-table__cell">Stimpon</td>
              <td class="govuk-table__cell">LAR Validation8</td>
              <td class="govuk-table__cell">The fee you have entered is not valid for Category 1A / YOUE matters. Please enter a valid fee in the profit costs field.</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">010124/104</td>
              <td class="govuk-table__cell">Bumston</td>
              <td class="govuk-table__cell">LAR Validation8</td>
              <td class="govuk-table__cell">The fee you have entered is not valid for Category 1A / YOUE matters. Please enter a valid fee in the profit costs field.</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">010124/105</td>
              <td class="govuk-table__cell" >Producer</td>
              <td class="govuk-table__cell">LAR Validation8</td>
              <td class="govuk-table__cell">The fee you have entered is not valid for Category 1A / YOUE matters. Please enter a valid fee in the profit costs field.</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">010124/106</td>
              <td class="govuk-table__cell" >Humpty</td>
              <td class="govuk-table__cell">LAR Validation8</td>
              <td class="govuk-table__cell">The fee you have entered is not valid for Category 1A / YOUE matters. Please enter a valid fee in the profit costs field.</td>
            </tr>
          </body>
        </table>
        {% include "includes/pagination.html"%}
        <div class="govuk-button-group">
          {{ govukButton({
            text: "Upload new submission",
            href: "sumbission-import"
          }) }}

          <a class="govuk-link" href="submission-search">Search for submission</a>
        </div>

      </form>

    </div>
  </div>

{% endblock %}
