{% extends "layouts/main.html" %}

{% block header %}
  {% include "/includes/header-provider.html"%}
{% endblock %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    </h1>
    <p>This is the prototype for Controlled Work covering the provider system. This prototype is <strong>NOT</strong> fully functional
    </p>
    
    <p>Please <a href="/manage-prototype/clear-data" class="govuk-link--no-visited-state">clear data</a> to delete all stored data and re-set the prototype between journeys.</p>
    <p> <a href="/wip/submissions-submitted" class="govuk-link--no-visited-state" aria-describedby="start">Start here</a></p>  

    <!--PA Provider-->
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">          
        <ol class="app-task-list">
         <!--CWA-->
          <li> 
            <h2 class="app-task-list__section">
              <span class="app-task-list__section-number">1. </span>
              CWA bulk upload
            </h2>
                       
            <ul class="app-task-list__items">
              <!--WIP-->
              <li class="app-task-list__item">    
                <h3 class="govuk-heading-s">Work in progress</h3>
                <!-- <span class="app-task-list__task-name">
                  <a href="/wip-cwa/submission-import?importError=No" class="govuk-link--no-visited-state" aria-describedby="start">
                    CWA bulk upload - successful
                  </a>
                </span>
                <span class="app-task-list__tag" id="start">In design</span>
                <br>
                -->
                <span class="app-task-list__task-name">
                  <a href="/wip-cwa/submission-import?importError=Yes" class="govuk-link--no-visited-state" aria-describedby="start">
                    Bulk upload - errors
                  </a>
                </span>
                <span class="app-task-list__tag" id="start">In design</span>
                <br>
                <span class="app-task-list__task-name">
                  <a href="/wip-cwa/submission-import?importError=No" class="govuk-link--no-visited-state" aria-describedby="start">
                    Bulk upload - no errors
                  </a>
                </span>
                <span class="app-task-list__tag" id="start">In design</span>
                <br>
                <span class="app-task-list__task-name">
                  <a href="/wip-cwa/submission-outstanding?importError=Yes" class="govuk-link--no-visited-state" aria-describedby="start">
                    Import home page 
                  </a>
                </span>
                <span class="app-task-list__tag" id="start">In design</span>
                <br>
                <!--<span class="app-task-list__task-name">
                  <a href="/wip-cwa/submission-import?importError=Form" class="govuk-link--no-visited-state" aria-describedby="start">
                    CWA bulk upload - form error
                  </a>
                </span>
                <span class="app-task-list__tag" id="start">In design</span>
                <br>
                -->
              </li>
            </ul>
          </li>
          <!--Alpha-->
           <li> 
            <h2 class="app-task-list__section">
              <span class="app-task-list__section-number">2. </span>
              Alpha for Controlled Work
            </h2>
                       
            <ul class="app-task-list__items">
              <!--WIP-->
              <!--
              <li class="app-task-list__item">    
                <h3 class="govuk-heading-s">Work in progress</h3>
                
                 <span class="app-task-list__task-name">
                  <a href="/wip/submissions-submitted" class="govuk-link--no-visited-state" aria-describedby="start">
                    Section name
                  </a>
                </span>
                <span class="app-task-list__tag" id="start">In design</span>
                <br>
              </li>
              -->

              <!--Old-->
              <li class="app-task-list__item">                 
                <h3 class="govuk-heading-s">Previous versions</h3>
                <details class="govuk-details">
                  <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                      v2: Post user testing amendments
                    </span>
                  </summary>
                  <div class="govuk-details__text">
                    <ul class="app-task-list__items">
                      <!--Section-->
                      <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                          <a href="/v2/submissions-submitted" class="govuk-link--no-visited-state" aria-describedby="start">
                            Addition of new LAA header & navigation
                          </a>
                        </span>
                        <span class="app-task-list__tag" id="start">In design</span>
                        <br>
                        <span class="app-task-list__task-name">
                          <a href="/v2/create/submission-import-error?subStatus=In progress&isImport=yes&importStatus=error&claimErrors=1" class="govuk-link--no-visited-state" aria-describedby="start">
                            Import error - continue or cancel
                          </a>
                        </span>
                        <span class="app-task-list__tag" id="start">In design</span>
                      </li>
                    </ul>
                  </div>
                </details>   
                <details class="govuk-details">
                  <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                      v1: Original design before 1st round of user testing
                    </span>
                  </summary>
                  <div class="govuk-details__text">
                    <ul class="app-task-list__items">
                      <!--Section-->
                      <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                          <a href="/v1/submissions-submitted" class="govuk-link--no-visited-state" aria-describedby="start">
                            Submission home
                          </a>
                        </span>
                        <span class="app-task-list__tag" id="start">In design</span>
                        <br><br>
                        <span class="app-task-list__task-name">
                          <a href="/v1/create/submission-start?subStatus=In progress&isImport=no&subPeriod-month=&subPeriod-year=&submissionType=&scheduleRef=&firmAC=&Immigration_matterStart=&Family_matterStart=&question-claimType=" class="govuk-link--no-visited-state" aria-describedby="start">
                            Create a new submission
                          </a>
                        </span>
                        <span class="app-task-list__tag" id="start">In design</span>
                        <br>
                        <span class="app-task-list__task-name">
                          <a href="/v1/create/submission-import?subStatus=In progress&isImport=yes&importStatus=success" class="govuk-link--no-visited-state" aria-describedby="start">
                            Import a new submission - no errors
                          </a>
                        </span>
                        <span class="app-task-list__tag" id="start">In design</span>
                        <br>
                        <span class="app-task-list__task-name">
                          <a href="/v1/create/submission-import?subStatus=In progress&isImport=yes&importStatus=error&claimErrors=1" class="govuk-link--no-visited-state" aria-describedby="start">
                            Import a new submission - with errors
                          </a>
                        </span>
                        <span class="app-task-list__tag" id="start">In design</span>
                        <br> <br>
                        <span class="app-task-list__task-name">
                          <a href="/v1/create/claim-start?subStatus=In progress&isImport=no
                          &subPeriod-month=March&subPeriod-year=2025&firmAC=A1B2C3&submissionType=Legal help&Immigration_matterStart=4&Family_matterStart=2&question-claimType=&question-client=&question-case=&question-costs=&question-check=&scheduleRef=&ufn=&caseStart=&lawCategory=&claimTypeImmigration=&matterType=&client-first-name=&client-last-name=&clientDOB=&client-postcode=&UCN=&homeUCN=" class="govuk-link--no-visited-state" aria-describedby="start">
                            Add a claim to existing submission
                          </a>
                        </span>
                        <span class="app-task-list__tag" id="start">In design</span>
                        <br> <br>
                        <span class="app-task-list__task-name">
                          <a href="/v1/submission/submission-details?subStatus=Submitted" class="govuk-link--no-visited-state" aria-describedby="start">
                            Submission: status - submitted
                          </a>
                        </span>
                        <span class="app-task-list__tag" id="start">In design</span>
                        <br>
                        <span class="app-task-list__task-name">
                          <a href="/v1/submission/submission-details?subStatus=Resubmitted" class="govuk-link--no-visited-state" aria-describedby="start">
                            Submission: status - resubmitted
                          </a>
                        </span>
                        <span class="app-task-list__tag" id="start">In design</span>
                        <br>
                        <span class="app-task-list__task-name">
                          <a href="/v1/submission/submission-details?subStatus=Paid" class="govuk-link--no-visited-state" aria-describedby="start">
                            Submission: status - paid
                          </a>
                        </span>
                        <span class="app-task-list__tag" id="start">In design</span>
                        <br>
                        <span class="app-task-list__task-name">
                          <a href="/v1/submission/submission-details?subStatus=Part paid" class="govuk-link--no-visited-state" aria-describedby="start">
                            Submission: status - part paid
                          </a>
                        </span>
                        <span class="app-task-list__tag" id="start">In design</span>
                        <br>
                        <span class="app-task-list__task-name">
                          <a href="/v1/submission/submission-details" class="govuk-link--no-visited-state" aria-describedby="start">
                            Submission: status - in progress
                          </a>
                        </span>
                        <span class="app-task-list__tag" id="start">In design</span>
                        <br>
                        <span class="app-task-list__task-name">
                          <a href="/v1/submission/submission-details-draft?subStatus=In progress&isImport=yes&importStatus=error&claimErrors=1" class="govuk-link--no-visited-state" aria-describedby="start">
                            Submission: status - in progress with import errors
                          </a>
                        </span>
                        <span class="app-task-list__tag" id="start">In design</span>
                        <br>
                        
                      </li>
                    </ul>
                  </div>
                </details>               
              </li>
            </ul>
          </li>
        </ol>
      </div>
    </div>

  </div>

  <!--Aside-->
  <div class="govuk-grid-column-one-third">
    <aside class="app-related-items" role="complementary">      
      <h2 class="govuk-heading-m" id="subsection-title">Key pages</h2>
      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list">
          <li><a href="/wip/submissions-submitted" class="govuk-link--no-visited-state" aria-describedby="start">Submissions</a></li> 
          <li><a href="/wip/submissions-matter-starts" class="govuk-link--no-visited-state" aria-describedby="start">Matter starts</a></li> 
           <li><a href="/wip/submissions-search" class="govuk-link--no-visited-state" aria-describedby="start">Search</a></li> 
        </ul>
        <h3 class="govuk-heading-s" id="subsection-title">Submissions</h3>
        <ul class="govuk-list">
          <li><a href="/wip/create/submission-import?subStatus=In progress&isImport=yes&importStatus=error&claimErrors=1" class="govuk-link--no-visited-state" aria-describedby="start">Import submission with errors</a></li> 
          <li><a href="/wip/submission/submission-details-draft?subStatus=In progress&isImport=yes&importStatus=error&claimErrors=1" class="govuk-link--no-visited-state" aria-describedby="start">'In progress' submission + errors</a></li> 
          <li><a href="/wip/submission/submission-details?subStatus=Submitted" class="govuk-link--no-visited-state" aria-describedby="start">'Submitted' submission</a></li> 
          <li><a href="/wip/submission/submission-details?subStatus=Part paid" class="govuk-link--no-visited-state" aria-describedby="start">'Part paid' submission</a></li> 
          <li><a href="/wip/submission/submission-details?subStatus=Paid" class="govuk-link--no-visited-state" aria-describedby="start">'Paid' submission</a></li> 
        </ul>
        <h3 class="govuk-heading-s" id="subsection-title">Claims</h3>
        <ul class="govuk-list">
          <li><a href="/wip/create/claim-start?subStatus=In progress&isImport=no&subPeriod-month=March&subPeriod-year=2025&firmAC=A1B2C3&submissionType=Legal help&Immigration_matterStart=4&Family_matterStart=2&question-claimType=&question-client=&question-case=&question-costs=&question-check=&scheduleRef=&ufn=&caseStart=&lawCategory=&claimTypeImmigration=&matterType=&client-first-name=&client-last-name=&clientDOB=&client-postcode=&UCN=&homeUCN=" class="govuk-link--no-visited-state" aria-describedby="start">Add a claim to existing submission</a></li> 
          <li><a href="/wip/create/task-list?subStatus=In progress&isImport=no&subPeriod-month=March&subPeriod-year=2025&firmAC=A1B2C3&submissionType=Legal help&Immigration_matterStart=4&Family_matterStart=2&question-claimType=complete&question-client=&question-case=&question-costs=&question-check=&scheduleRef=&ufn=&caseStart=&lawCategory=&claimTypeImmigration=&matterType=&client-first-name=&client-last-name=&clientDOB=&client-postcode=&UCN=&homeUCN=" class="govuk-link--no-visited-state" aria-describedby="start">Claim in progress</a></li> 
          <li><a href="/wip/create/task-list?question-claimType=error&question-client=complete&question-case=complete&question-costs=error&question-check=&ufn=100323/234&caseStart=10/03/2023&lawCategory=Immigration and Asylum&claimTypeImmigration=Completed matter claim&matterType=&client-first-name=Joanna&client-last-name=McBars&clientDOB=2/3/2020&client-postcode=E1 6EG&UCN=10031999/J/MCB&homeUCN=10031999/MCB&clientGender=Female&clientEthnicity=04 - Black or Black British Caribbean&clientDisability=NCD - Not Considered Disabled&vatEligible=No&counselCost=0.00&adviceNoHours-hours=2&adviceNoHours-mins=00&profitCost=200.00&travelNoHours-hours=2&travelNoHours-mins=00&waitingNoHours-hours=2&waitingNoHours-mins=00&travelwaitingCost=50.00&detentionCost=0.00&disbursementCost=90.oo&disbursementVATCost=10.00" class="govuk-link--no-visited-state" aria-describedby="start">Claim progress with import errors</a></li> 

        </ul>
      </nav>
    </aside>

  </div>
</div>

{% endblock %}
